.login-main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 7rem;
}

.login-child {
  padding: 1rem;
  border: 1px solid rgb(204, 202, 202);
  box-shadow: 5px 5px 10px 10px rgb(204, 202, 202);
}

.login-main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 0 5rem;
  height: 100%;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.input-block input {
  height: 2rem;
  font-size: 1.2rem;
  width: 25rem;
}

.login-header {
  font-size: 2rem;
  font-weight: 700;
}

.input-button {
  width: 100%;
  background-color: rgb(78, 78, 82);
  border: none;
  font-size: 1.2rem;
  padding: 0.2rem 0;
  color: #fff;
}

.input-label {
  font-size: 1.2rem;
  font-weight: 500;
}

.form-error {
  color: red;
}
